Schemas/xml.schema.xml

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="worldOverview">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:String" name="Country" minOccurs="1" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="happiness">
    <xs:complexType>
     <xs:sequence>
       <xs:element name="rank" type="xs:decimal" minOccurs="1" maxOccurs="unbounded"/>
       <xs:element name="score" type="xs:decimal" minOccurs="1" maxOccurs="unbounded"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="wages">
    <xs:complexType>
     <xs:sequence>
       <xs:element name="currency" type="xs:string" minOccurs="1" maxOccurs="unbounded">
         <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:minLength value="1"/>
            <xs:maxLength value="3"/>
          </xs:restriction>
        </xs:simpleType>
       </xs:element>
       <xs:element name="value" type="xs:decimal" minOccurs="1" maxOccurs="unbounded"/>
     </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="obesity">
    <xs:complexType>
     <xs:sequence>
       <xs:element name="bothSexes" type="xs:decimal" minOccurs="1" maxOccurs="unbounded">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
       </xs:element>
       <xs:element name="male" type="xs:decimal" minOccurs="1" maxOccurs="unbounded">
         <xs:simpleType>
          <xs:restriction base="xs:decimal">
            <xs:minLength value="1"/>
          </xs:restriction>
        </xs:simpleType>
       </xs:element>
       <xs:element name="female" type="xs:decimal" minOccurs="1" maxOccurs="unbounded">
        <xs:simpleType>
          <xs:restriction base="xs:decimal">
           <xs:minLength value="1"/>
         </xs:restriction>
        </xs:simpleType>
       </xs:element>
     </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>